@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  
  body{
    overflow-x: hidden;
  }
  .grid2{
    background: linear-gradient(135deg, #8547c6 25%, #b845c1 62%, #ab5d8a 95%);
  }
  .grid1{
    background: linear-gradient(225deg,#007cc2 20%,#5865f2);
  }
  
}